.translation-section {
  margin-bottom: 20px;
  /* Add space between translation sections */
}

.translation-section label {
  display: inline-block;
  margin-right: 10px;
}

.translation-section input {
  margin-right: 10px;
}


.select-language {
  width: 100%;
}

.next-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}

.next-button:hover {
  background-color: #3e8e41;
}

.disabled-button {
  background-color: #ccc;
  color: #666;
  border: none;
  cursor: not-allowed;
}